.post-form {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    margin-bottom: 15px;
    border: 1px solid #ced0d4;
    border-radius: 7px;
    width: 100%;
}
.post-form .card-container {
    margin: 0 10px;
}
.post-form-container {
    justify-content: center;
    display: flex;
}
.post-form-container i {
    font-size: 3rem;
}
.post-form textarea {
    font-family: poppins;
    background-color: #f0f2f5;
    border-radius: 7px;
    border: 0px;
    padding: 10px;
    resize: vertical;

    margin: 10px 10px 0 10px;
}
.post-form textarea:focus {
    background-color: white;
}
.post-form .card-container {
    margin-top: 10px;
}

.form-footer i {
    padding: 10px 0 15px 0;
    cursor: pointer;
    font-size: 1.8rem;
}
.form-footer label {
    margin: 0px 0 0px 10px;
}
.form-footer input {
    display: none;
}
.btn-send {
    margin-bottom: 10px;
}
.leave-comment form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leave-comment textarea {
    font-family: poppins;
    background-color: #f0f2f5;
    border-radius: 7px;
    border: 0px;
    padding: 10px;
    width: calc(100% - 40px);
    resize: vertical;
}
.leave-comment button {
    margin-top: 5px;
    font-family: poppins;
    background-color: #f0f2f5;
    border-radius: 7px;
    border: 0px;
    padding: 10px;
    width: calc(100% - 20px);
    cursor: pointer;
}
.leave-comment button:hover {
    background-color: #d0d0d7;
}

.btn-send {
    display: flex;
    justify-content: space-around;
}
.form-footer button {
    cursor: pointer;
    border: 0;
    font-weight: 300;
    font-family: poppins;
    height: 40px;
    border-radius: 7px;
    margin: 0 10px;
    width: 100%;
}

ul {
    margin: 15px 0;
    padding: 0 0;
    list-style: none;
}
.card-container {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    margin-bottom: 15px;
    border: 1px solid #ced0d4;
    border-radius: 7px;
}

.card-container p span {
    margin: 0;
}
.updatePost {
    margin: 10px;
}
.updatePost textarea {
    font-family: poppins;
    background-color: #f0f2f5;
    border-radius: 7px;
    border: 0px;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
}
.updatePost textarea:focus {
    background-color: white;
}
.updatePost button {
    cursor: pointer;
    border: 0;
    font-weight: 300;
    font-family: poppins;
    height: 40px;
    border-radius: 7px;
    width: 100%;
}
.card-container img {
    object-fit: contain;
    width: auto;
    max-height: 600px;
}
.card-container p {
    padding: 0px 10px 0 10px;
    font-family: Poppins;
    width: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
.thread-container {
    padding-top: 25px;
    margin: auto;
    max-width: 580px;
}
.thread-container ul {
    margin-bottom: 30px;
}
.fa-spinner {
    color: #fe7b0d;
}
.card-top {
    padding-left: 10px;
    padding-top: 10px;
    font-family: Poppins;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.card-top-left {
    display: flex;
    flex-direction: row;
}
.card-top-left h3,
span {
    margin: 0 0 0 10px;
}
.card-top-left img {
    width: 40px;
    height: 40px;
    clip-path: ellipse(50% 50%);
}
.userLine h3 {
    font-size: 1rem;
}
.userLine span {
    font-size: 0.77rem;
}
.card-top-right i {
    font-size: 1rem;
    padding-right: 30px;
    color: #b0b3b8;
}
.button-container {
    display: flex;
}
.button-container i {
    color: darkslategray;
    cursor: pointer;
}
.card-footer {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 15px 15px;
    background-color: #fff;
    justify-content: space-around;
}
.card-footer-top {
    display: flex;
    font-family: Poppins;
    height: 43px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.card-footer hr {
    border: 1px solid rgba(206, 208, 212, 0.5);
    width: calc(100% - 20px);
    margin-top: 0;
    margin-bottom: 0;
}
.card-footer-top p {
    width: auto;
    margin: 0;
    padding-right: 10px;
}
.likes-number {
    padding-left: 10px;
    width: auto;
}
.card-footer-bottom {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 44px;
}
.like-container {
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.4rem;
    height: 80%;
    width: calc(50% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

.like-container:hover {
    background-color: #f2f2f2;
}
.like-container i {
    cursor: pointer;
}
.comments-container {
    padding-bottom: 10px;
}
.comment-container {
    padding-left: 10px;
    padding-top: 10px;
    font-family: Poppins;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
}
.comment-icon {
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.4rem;
    height: 80%;
    width: calc(50% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment-icon:hover {
    background-color: #f2f2f2;
}
.comment-top-part {
    padding-left: 10px;
    padding-top: 10px;
    font-family: Poppins;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.comment-left-part img {
    width: 40px;
    height: 40px;
    clip-path: ellipse(50% 50%);
}
.comment-right-part {
    display: flex;
    margin-left: 10px;
    background-color: lightblue;
    border-radius: 0 15px 15px 15px;
    width: 100%;
    flex-direction: column;
}
.comment-right-part-client {
    width: 100%;
    margin-left: 10px;

    display: flex;
    background-color: darkseagreen;
    border-radius: 15px 15px 0px 15px;

    flex-direction: column;
}
.userLine h5 {
    margin: 5px 0 0 10px;
}
.comment-content {
    margin-top: 3px;
    padding: 0 10px;
}
.comment-content span {
    margin: 0;
}
.comment-content p {
    margin-bottom: 5px;
    margin-top: 1px;
}
.edit-comment {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 10px 5px 0px;
}
.edit-comment span {
    font-size: 1.1rem;
    cursor: pointer;
}
.edit-comment-form {
    width: 100%;
}
.edit-comment-form textarea {
    width: 97%;
    resize: vertical;
}
.edit-btn {
    height: 20%;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 10px 10px 10px;
}
.delete-comment-btn {
    height: 20%;
    cursor: pointer;
    margin: 0 10px 10px 10px;
    font-size: 1.7rem;
}
